/* Layout */
#page-content-wrapper,
#page-content-wrapper .container-fluid,
#page-content-wrapper .container-fluid .row,
#page-content-wrapper .container-fluid .row .col-lg-12 { 
  height: 100%; 
}
#nav-dots {
  top: 97%;
}
#slider {
  height: 94%;
}
#wrapper { 
  height: 100%; 
  padding-right: 300px;
  position: absolute; 
  width: 100%; 
}

#pagebar-wrapper {
  background-color: #fafafa;
  height: calc(100% - 40px);
  margin-top: 20px;
  overflow: hidden;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
}


/* Navigations */
#nav-dots > span > div {
  border-radius: 50%;
  max-height: 16px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute; 
  transform: translateX(0%) translateY(0%);
  /*transform-origin: 100%;*/
  /*transition: all 0.1s ease-out 0.1s;*/
  max-width: 16px;
  min-width: 16px;
}
  #nav-dots > span:hover > div { 
    border-radius: 0;
    margin: 0 -100px -100px -100px;
    max-height: 500px;
    opacity: 1;
    overflow: none;
    max-width: 200px;
    min-width: 200px;
    transform: translateY(calc(-100% - 10px));
  }
#nav-dots > span > div h3 {
  /*opacity: 0;*/
  transform: rotateX(-90deg);
  transform-origin: 100% 0;
  transition: all 0.1s ease-in 0.1s, opacity 0.1ms;
  transition-delay: 0.1s;
  width: 200px;
}
  #nav-dots > span:hover > div h3 {
    /*opacity: 1;*/
    transform: rotateX(0deg);
  }
#nav-dots > span .nav-image {
  /*backface-visibility: hidden;*/
  background-position: 50%;
  background-size: cover;
  height: 92px;
  transform: rotateX(90deg);
  transform-origin: 0 100%;
  transition: all 0.1s ease-in 0.1s;
  /*transition-delay: 0.4s;*/
  width: 100%;
}
  #nav-dots .nav-image.load {
    transform: rotateX(0deg);
  }
#nav-dots > span:first-child {
  margin-right: 25px;
}
#nav-dots > span:nth-last-child(2) {
  margin-left: 25px;
}
#nav-dots > span.nav-dot-current > div {
  display: none;
}
#nav-dots > span.nav-plus:after {
  color: #fff;
  content: '+';
  font-size: 16px;
  font-weight: bold;
  left: 3px;
  opacity: 0.8;
  position: absolute;
  top: -5px;
}

#nav-dots div > img { 
  max-width: 200px; 
}
#nav-dots h3
{ 
  background-color: #34495e;
  color: #fff;
  font-size: 1.3em;
  font-weight: 300; 
  line-height: 1.3;
  margin: 0;
  padding: 10px;
  position: relative;
}
  #nav-dots h3 > em { 
    display: block;  
    line-height: 2;
    font-size: 65%; 
  }


/* Content */
.demo-1 [data-icon]:after
{
  box-shadow: inset 0 0 0 5px #f7f7f7;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: -20px 0 0 -20px;
  width: 40px;
}
.demo-1 .deco {
  border: 0;
  bottom: 80%;
  height: 160px;
  margin: 0 0 0 -80px;
  width: 160px;
}
.demo-1 .sl-slide blockquote {
  top: 50%;
}
.demo-1 .sl-slide h2 {
  bottom: 81%;
  letter-spacing: 1px;
  text-transform: none;
}
.demo-1 .sl-slide ul {
  bottom: 35%;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  height: 50%;
  left: 0;
  line-height: 20px;
  margin: 0 0 -200px 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
  .demo-1 .sl-slide ul li {
    list-style: none;
    margin: 0 auto 15px;
    width: 50%;
  } 
    .demo-1 .sl-slide ul li a {
      background: #fff;
      border: 1px solid #fafafa;
      color: #566473;
      border-radius: 40px;
      display: block;
      padding: 15px;
      text-decoration: none;
    }
      .demo-1 .sl-slide ul li a:hover {
        background-color: #fafafa;
        text-decoration: none;
      }
      .demo-1 .sl-slide ul li a.selected {
        background-color: #566473;
        border-color: #566473;
        color: #fff; 
      }
.demo-1 .sl-slide .inner-content {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}
.sl-trans-elems ul {
  animation: fadeIn 0.5s linear 0.5s both;
}